:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    --bg-color: #fbfbfb;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
}

header {
    width: calc(100vw - 4rem);
    padding-inline: 2rem;
    border-bottom: 2px solid #333;
}

main {
    margin: 2rem;
    position: relative;
}

h1 {
    float: left;
}

.contenedor {
    width: 1200px;
    max-width: 100%;
}

.titulo {
    background-color: #0074b3;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    padding-block: 20px;
    padding-inline-start: 10px;
    position: relative;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(232, 232, 232);
    color: #2e2e2e;
    width: 100%;

    thead {
        background-color: rgba(232, 232, 232, 0.75);

        th {
            padding-block: 10px;
            padding-inline-start: 10px;
            text-align: left;

            &:first-child {
                width: 3%;
            }

        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: rgba(232, 232, 232, 0.75);

                &:hover {
                    background-color: rgb(232, 232, 232);
                }
            }

            .zebra {
                background-color: #f2f2f2;
                /* Color para las filas zebra */
            }

            &:hover {
                background-color: rgb(232, 232, 232);
            }

            td {
                border: 1px solid rgb(232, 232, 232);
                padding-block: 10px;
                padding-inline-start: 10px;
                text-align: left;

                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}

.botones {
    display: block;
    position: absolute;
    right: 1rem;

    .boton {
        position: unset;
        right: unset;
    }
}

.boton {
    background-color: #0eb600;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    right: 10px;
    display: inline-block;

    &:is(.editar, .eliminar) {
        font-size: 0.875rem;
        padding: 5px;
        position: unset;
    }

    &.editar {
        background-color: #0074b3;
        margin-inline-end: 5px;
    }

    &.eliminar {
        background-color: red;
    }
}

div.pager {
    text-align: right;
    margin: 1em 0;

    span {
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8;
        text-align: center;
        cursor: pointer;
        background: #018dd9;
        color: #000;
        margin-right: 0.5em;

        &.active {
            background: #0074b3;
            color: #FFF;
        }
    }
}

form {
    .grupo-form {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.875rem;
        position: relative;

        label {
            display: inline-block;
            margin-block-start: .5rem;
        }

        input[type="text"],
        select,
        textarea {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            appearance: none;
            background-color: var(--bg-color);
            background-clip: padding-box;
            border: 1px solid #495057;
            border-radius: 0.375rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        select {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

            background-repeat: no-repeat;
            background-position: right .75rem center;
            background-size: 16px 12px;
        }

        textarea {
            resize: none;
        }

        input[type="submit"] {
            cursor: pointer;
            font-family: inherit;
            margin-inline-end: 0;
            position: absolute;
            right: 0;
        }
    }
}

.navbar {
    .navbar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-toggle {
        font-size: 20px;
        cursor: pointer;
        display: none;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    .navbar-brand {
        color: white;
        font-size: 24px;
        text-decoration: none;
    }
}

.menu,
.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    float: left;
    margin-top: .67rem;
    margin-left: .67rem;

    >li {
        position: relative;
        float: left;

        &.dropdown {
            a {
                &::after {
                    display: inline-block;
                    margin-left: 1rem;
                    vertical-align: .255rem;
                    content: "";
                    border-top: .3rem solid;
                    border-right: .3rem solid transparent;
                    border-bottom: 0;
                    border-left: .3rem solid transparent;
                }
            }
        }

        a {
            display: block;
            color: #333;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            &:hover {
                background-color: #bcbcbc;
                color: #333;
                border-radius: 3px;
            }
        }
    }

    /* Estilos para los submenus */
    .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .3rem 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;

        li {
            float: none;
            position: relative;

            &.dropdown {
                >a {
                    &::after {
                        border-top: .3rem solid transparent;
                        border-right: 0;
                        border-bottom: .3rem solid transparent;
                        border-left: .3rem solid;
                        float: right;
                        margin-right: 10px;
                        margin-top: 6px;
                    }
                }
            }

            a {
                text-align: left;
                padding: 12px 16px;
                padding-inline-end: 0;
                width: calc(100% - 1rem);

                &::after {
                    border: 0;
                }

                &:hover {
                    background-color: #0074b3;
                    color: #fff !important;
                }
            }
        }
    }
}

.menu li:hover>.submenu {
    display: block;
}

.submenu .submenu {
    left: 100%;
    top: 0;
}

.submenu li:hover>.submenu {
    display: block;
}

#descripcion-box {
    padding-inline: 2rem;
    padding-block: 4rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 2rem;
    text-align: center;
}

.submenu li a:hover,
.submenu li:hover>a {
    background-color: #0074b3;
    color: #fff;
}

.dropdown.active>a {
    background-color: #bcbcbc;

    border-radius: 3px;
    color: #333;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu>li {
        display: block;
        width: 100%;
    }

    .navbar {
        .navbar-toggle {
            display: block;
        }

        .submenu {
            position: static;
        }

        .submenu .submenu {
            left: auto;
            top: auto;
            margin-left: 0;
        }

        li {
            a {
                width: auto;
            }
        }
    }
}